@font-face {
    font-family: PTSansBold;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: PTSansRegular;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}